[
 {rabbit,
  [
    {log_levels, [{connection, debug}, {channel, debug}, {federation, debug}, {mirroring, debug}]},
    {heartbeat, 5},
    {cluster_partition_handling, autoheal}            
  ]},
 {rabbitmq_management,[]},
 {rabbitmq_stomp, []},
 {rabbitmq_mqtt, []},
 {rabbitmq_amqp1_0, []},
 {rabbitmq_auth_backend_ldap, []},
 {kernel,[ {net_ticktime, 5} ]}
].
